input[type='text']:disabled,
input[type='password']:disabled {
  background-color: #f8f9fa;
}
.error-messages {
  height: 36px;
}

.margin-zero {
  margin-bottom: 0;
}

.padding {
  padding: 15px 10px;
}