<div *ngIf="!invalidUser; else invalidUserComponent">
  <h4 class="text-center mt-3 mb-3">
    {{ editing ? ("Editing : "{{ user.login }}`) : ("Details : "{{
      user.login
    }}) }}
  </h4>
  <div class="list-group-item list-group-item-action">
    <p class="font-weight-normal">
      <span class="font-weight-bold">ID: </span>
      {{ user._id }}
    </p>
    <p class="font-weight-normal">
      <span class="font-weight-bold">Login: </span>
      {{ user.login }}
    </p>
    <p class="font-weight-normal">
      <span class="font-weight-bold">Created : </span>
      {{ user.created | date: 'medium' }}
    </p>
    <p class="font-weight-normal">
      <span class="font-weight-bold">Password : </span>
      {{ user.password }}
    </p>
    <button (click)="onEdit()" class="btn btn-dark ml-1 mr-1">
      {{ editing ? 'Done' : 'Edit' }}
    </button>
    <button (click)="onDelete()" class="btn btn-dark ml-1 mr-1">
      Delete
    </button>
  </div>
</div>

<ng-template #invalidUserComponent>
  <div class="d-flex flex-column align-items-center">
    <p>
      {{ invalidUser.message }}
    </p>
    <button class="btn btn-light" routerLink="/users">
      Przejdź do listy użytkowników
    </button>
  </div>
</ng-template>
