<h2 class="text-center mt-4 mb-2">Please log in</h2>

<div class="row d-flex justify-content-center">
  <div class="col-9 d-flex flex-column justify-content-center">
    <span class="pb-2 pt-2">Login : </span>
    <div class="input-group flex-nowrap">
      <input
        type="text"
        class="form-control"
        aria-label="Username"
        aria-describedby="addon-wrapping"
      />
    </div>

    <span class="pb-2 pt-2">Password : </span>
    <div class="input-group flex-nowrap">
      <input
        type="password"
        class="form-control"
        aria-label="Password"
        aria-describedby="addon-wrapping"
      />
    </div>
  </div>
</div>
<div class="row row d-flex justify-content-center">
  <div class="col-9 d-flex align-items-center justify-content-between">
    <span>Forget <a routerLink="/users">password</a>?</span>
    <button class="btn btn-light mt-2 mb-2">
      Sign in
    </button>
  </div>
</div>
